@import "src/common/css/variables.scss";
@import "src/common/css/mixins.scss";

.mainContainer {
  min-height: 100vh;
  background: #262626;
  .posContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
    .num {
      display: block;
      font-size: 4.5rem;
      font-weight: 900;
      color: $white;
    }
    .name {
      color: $white;
      font-size: 0.9rem;
      line-height: 1.5;
      display: block;
      max-width: 280px;
      margin: -15px auto 0;
      opacity: 0.6;
      letter-spacing: -1px;
      text-transform: capitalize;
    }
  }
  .buttonContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px 30px;
    .counterBtn {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 15px;
      background: transparent;
    }
    .counterBtn:hover {
      background: transparent;
    }
    .counterBtn.black,
    .counterBtn.black:active {
      border: 1px solid $black;
      background: transparent;
    }
    .counterBtn.white,
    .counterBtn.white:active {
      border: 1px solid $white;
      background: transparent;
    }
  }
  .controls {
    position: fixed;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    padding: 7px 10px;
    .btn {
      width: 27px;
      height: 27px;
      padding: 3px;
      background: transparent;
      vertical-align: unset;
      margin: 0 4px;
    }
    .btn:active {
      border-color: transparent;
    }
  }
}

@media only screen and (min-width: 768px) {
  .mainContainer {
    .posContainer {
      .num {
        font-size: 7.0rem;
      }
      .name {
        font-size: 1.0rem;
        max-width: 380px;
      }
    }
    .buttonContainer {
      max-width: 1200px;
      bottom: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      padding: 40px;
      .btn {
        margin: 0;
        width: 60px;
        height: 60px;
      }
      .btn.increment {
        float: right;
      }
      .btn.decrement {
        float: left;
      }
    }
  }
}
